body{
    height: var(--tg-viewport-stable-height, 100vh);
    margin: 0px;
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
}

body {
  font-family: "Rubik", sans-serif;
}
/* --Info-bar-- */

#info {
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0px;
    width: -webkit-fill-available;
    margin: 10px;

}
#user-info {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}
#user-info p, img {
    margin: 0px 5px;
}
#user-info img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#wallet {
    background: #9847fb;;
    border: solid 0px;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 13px;
    color: aliceblue;
    display: flex;
}
#wallet p {
    padding: 0px;
    margin: 0px;
    width: max-content;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    
}
#wallet img {
    height: 16px;
}

#top-bar {
    display: flex;
    color: aliceblue;
    width: -webkit-fill-available;
    margin: 0px 8px;
}
#balance, #Profit-per-hour, #Profit-per-tap {
    width: -webkit-fill-available;
    background: #282828;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-content: center;
    height: fit-content;
    flex-direction: column;
    border: solid 0.1px #3e3e3e;
}
#top-bar p {
    margin: 3px 0px;
}
#top-bar img {
    height: 20px;
}
#item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#game {
    padding: 40px;
    background: #282828;
    margin: 10px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-radius: 10px;
    border: solid 0.1px #3e3e3e;
    flex-grow: 1;
}
#game img {
    height: 200px;
}
#level {
    width: -webkit-fill-available;
}
#progsess {
    height: 13px;
    background: #595959;
    margin: 10px;
    border-radius: 10px;
}
#line {
    height: 100%;
    width: 30%;
    background: rgb(235,223,79);
    background: linear-gradient(270deg, rgba(235,223,79,1) 0%, rgba(255 66 37) 100%);
    border-radius: 10px;
}
#level-text {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
}
#level-text p {
    margin: 0px;
}


#nav-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    width: -webkit-fill-available;
    margin: 10px;
    padding: 10px;
    background: #282828;
    border: solid 0.1px #3e3e3e;
    border-radius: 10px;
}
#nav-bar p {
    margin: 0px;
    margin-top: 2px;
}
#nav-bar div {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
#click-img {
    transition: transform 0.1s;
}
#click-img.clicked {
    transform: scale(1.1);
}
/* Add this CSS to your style/style.css or within a <style> tag in your HTML */
@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.floating-number {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #FFD43B;
    animation: float 1s ease-out forwards;
    pointer-events: none;
}
.popup.show {
    display: block;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 324px; /* Adjusting width to fit game container */
    height: 227px; /* Maintaining aspect ratio of the image */
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 49%);
    z-index: 1000;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    align-content: center;
    font-size: medium;
    font-weight: bold;
    background: #222222;
}

.popup-content {
    text-align: center;
    color: #ffffff; /* Text color on the popup */
    font-family: 'Concert One', sans-serif;
}

#claim-offline {
    margin-top: 10px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: -webkit-fill-available;
    background: #9847fb;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}
